# -----------------------------------------------------------------------------
# Unzip4win config file.
# -----------------------------------------------------------------------------
[output]
saveCurent = true
outputPath = "/path/to/output/dir/if/save_current/is/false"

[password]
tryDays = 10

[[spec]]
format = "password20060102"
startDate = 2019-02-01

[[spec]]
format = "20060102password"
startDate = 2019-01-01
